In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import pandas as pd # Importing the required libraries
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException

In [2]:
PATH = "C:\Program Files (x86)\chromedriver.exe" # Defining path

This is the list of 9 most popular airpot codes in india. the data will be scraped for all these cities out going and incoming.

The cities included are (in order):

- Delhi
- Bombay
- Bengaluru
- Chennai
- Kolkata
- Hydrebad
- Cochin
- Ahemdabad
- Pune

In [3]:
city_dep = ['DEL','BOM','BLR','MAA','CCU','HYD','COK','AMD','PNQ'] 
city_arr = ['DEL','BOM','BLR','MAA','CCU','HYD','COK','AMD','PNQ']

In [4]:
driver = webdriver.Chrome(PATH)
driver.get("https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-07/12/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng")

time.sleep(2) # Going to link
driver.set_window_size(1024, 600)
driver.maximize_window() # Maximizing the window

This piece of code below, finds the input box for departure city and inputs one city code from the list defined above

In [5]:
def from_city(city_1): 
    
    take_city = driver.find_element_by_xpath("//input[@id='fromCity']").click()
    time.sleep(1)

    search_bar = driver.find_element_by_xpath('//*[@id="search-widget"]/div/div[2]/div[1]/form/div/input')

    search_bar.send_keys(Keys.CONTROL, 'a')                 # Clear previous entry
    search_bar.send_keys(Keys.BACKSPACE)
    search_bar.send_keys(city_1)                            # Type in one city name from the list (loop next)
    time.sleep(1)



    to_click = driver.find_element_by_xpath("//li[@id='react-autowhatever-1-section-0-item-0']")
    to_click.click()

    time.sleep(1)

This piece of code below, finds the input box for departure city and eneters one of the cities from the list, it also slects the date of travel.

In [6]:
def to_city(city_2):

    search_bar = driver.find_element_by_xpath("//*[@id='search-widget']/div/div[4]/div[1]/form/div/input")

    search_bar.send_keys(Keys.CONTROL, 'a')                    # Clear previous entry
    search_bar.send_keys(Keys.BACKSPACE)
    search_bar.send_keys(city_2)                               # Type in one city name from the list (loop next)
    time.sleep(1)



    to_click = driver.find_element_by_xpath("//li[@id='react-autowhatever-1-section-0-item-0']")
    to_click.click()

    day_sel =  driver.find_element_by_xpath('//*[@id="search-widget"]/div/div[5]/div[1]/div/div/div/div/div[2]/div[1]/div[3]/div[2]/div[3]')
    day_sel.click() # Day sel might change 

    time.sleep(1)

    search_but = driver.find_element_by_xpath('//*[@id="search-button"]')
    search_but.click()

Sometimes a pop-up opens on the make my trip page, and this piece of code closes if said pop up appears.

In [7]:
def close_if_pop_up():
    try:
        element = WebDriverWait(driver, 10).until(
            EC.presence_of_element_located((By.CLASS-NAME, "bgProperties icon20 overlayCrossIcon"))
        )
        close_but = driver.find_element_by_xpath('//*[@id="root"]/div/div[2]/div[2]/div[2]/div/span')
        close_but.click()

    except:
        pass

A function to append the text element from a web element to a list.

In [8]:
def append(path,list_): # This is a function I have created which will be used throughout the assignment to not repeat same piece of code again and again
    for i in path:
        list_.append(i.text)   # This function basically iterates the text from each element from seleenium driver and appends it to the list provided.

To load all flight, a scroll down to the bottom of the page is required, the below piece of code does that.

In [9]:
def scroll_down():
    for i in range(5):
        driver.execute_script("window.scrollTo(0, 9999)") 
        time.sleep(0.5)

Initiating empty list to append the data to.

In [10]:
airline_ = []
cities_ = []
times_ = []
stops_ = []
price_ = []

The below piece of code goes through every possible combination between the departure and arrival city.

In total there are 9 cities, so there are a total of 9x8 route combinations, i.e. 72

In [11]:
for departure in city_dep:
    for arrival in city_arr:
        
        if departure == arrival:
            continue
        else:
            print("Finding flights from " + departure + " to " + arrival + '.')
            
            from_city(departure)
            time.sleep(1)
            
            to_city(arrival)
            time.sleep(3)
                       
            close_if_pop_up()
            
            scroll_down()
            
            airline = driver.find_elements_by_xpath("//div[@class='makeFlex align-items-center  ']/span")    
            cities = driver.find_elements_by_xpath("//p[@class='darkText']")
            times = driver.find_elements_by_xpath("//p[@class='blackText fontSize18 blackFont appendBottom2 makeFlex hrtlCenter']")
            stops = driver.find_elements_by_xpath("//p[@class='flightsLayoverInfo']")
            price = driver.find_elements_by_xpath("//p[@class='blackText fontSize18 blackFont white-space-no-wrap']")
            
            time.sleep(1)
                      
            append(airline,airline_)
            append(cities,cities_)
            append(times,times_)
            append(stops,stops_)
            append(price,price_)
            
            print(len(airline_),len(cities_),len(times_),len(stops_),len(price_))

Finding flights from DEL to BOM.
88 176 176 88 88
Finding flights from DEL to BLR.
155 310 310 155 155
Finding flights from DEL to MAA.
155 310 310 155 155
Finding flights from DEL to CCU.
213 426 426 213 213
Finding flights from DEL to HYD.
261 522 522 261 261
Finding flights from DEL to COK.
296 592 592 296 296
Finding flights from DEL to AMD.
332 664 664 332 332
Finding flights from DEL to PNQ.
368 736 736 368 368
Finding flights from BOM to DEL.
453 906 906 453 453
Finding flights from BOM to BLR.
512 1024 1024 512 512
Finding flights from BOM to MAA.
555 1110 1110 555 555
Finding flights from BOM to CCU.
604 1208 1208 604 604
Finding flights from BOM to HYD.
639 1278 1278 639 639
Finding flights from BOM to COK.
671 1342 1342 671 671
Finding flights from BOM to AMD.
703 1406 1406 703 703
Finding flights from BOM to PNQ.
722 1444 1444 722 722
Finding flights from BLR to DEL.
785 1570 1570 785 785
Finding flights from BLR to BOM.
836 1672 1672 836 836
Finding flights from BLR to MAA.
858 1716 1716 858 858
Finding flights from BLR to CCU.
913 1826 1826 913 913
Finding flights from BLR to HYD.
950 1900 1900 950 950
Finding flights from BLR to COK.
972 1944 1944 972 972
Finding flights from BLR to AMD.
1011 2022 2022 1011 1011
Finding flights from BLR to PNQ.
1048 2096 2096 1048 1048
Finding flights from MAA to DEL.
1087 2174 2174 1087 1087
Finding flights from MAA to BOM.
1127 2254 2254 1127 1127
Finding flights from MAA to BLR.
1157 2314 2314 1157 1157
Finding flights from MAA to CCU.
1187 2374 2374 1187 1187
Finding flights from MAA to HYD.
1217 2434 2434 1217 1217
Finding flights from MAA to COK.
1238 2476 2476 1238 1238
Finding flights from MAA to AMD.
1264 2528 2528 1264 1264
Finding flights from MAA to PNQ.
1289 2578 2578 1289 1289
Finding flights from CCU to DEL.
1335 2670 2670 1335 1335
Finding flights from CCU to BOM.
1369 2738 2738 1369 1369
Finding flights from CCU to BLR.
1408 2816 2816 1408 1408
Finding flights from CCU to MAA.
1435 2870 2870 1435 1435
Finding flights from CCU to HYD.
1459 2918 2918 1459 1459
Finding flights from CCU to COK.
1484 2968 2968 1484 1484
Finding flights from CCU to AMD.
1517 3034 3034 1517 1517
Finding flights from CCU to PNQ.
1548 3096 3096 1548 1548
Finding flights from HYD to DEL.
1585 3170 3170 1585 1585
Finding flights from HYD to BOM.
1617 3234 3234 1617 1617
Finding flights from HYD to BLR.
1651 3302 3302 1651 1651
Finding flights from HYD to MAA.
1678 3356 3356 1678 1678
Finding flights from HYD to CCU.
1709 3418 3418 1709 1709
Finding flights from HYD to COK.
1735 3470 3470 1735 1735
Finding flights from HYD to AMD.
1752 3504 3504 1752 1752
Finding flights from HYD to PNQ.
1773 3546 3546 1773 1773
Finding flights from COK to DEL.
1795 3590 3590 1795 1795
Finding flights from COK to BOM.
1813 3626 3626 1813 1813
Finding flights from COK to BLR.
1832 3664 3664 1832 1832
Finding flights from COK to MAA.
1851 3702 3702 1851 1851
Finding flights from COK to CCU.
1871 3742 3742 1871 1871
Finding flights from COK to HYD.
1891 3782 3782 1891 1891
Finding flights from COK to AMD.
1907 3814 3814 1907 1907
Finding flights from COK to PNQ.
1920 3840 3840 1920 1920
Finding flights from AMD to DEL.
1949 3898 3898 1949 1949
Finding flights from AMD to BOM.
1978 3956 3956 1978 1978
Finding flights from AMD to BLR.
2005 4010 4010 2005 2005
Finding flights from AMD to MAA.
2028 4056 4056 2028 2028
Finding flights from AMD to CCU.
2050 4100 4100 2050 2050
Finding flights from AMD to HYD.
2075 4150 4150 2075 2075
Finding flights from AMD to COK.
2096 4192 4192 2096 2096
Finding flights from AMD to PNQ.
2114 4228 4228 2114 2114
Finding flights from PNQ to DEL.
2200 4400 4400 2200 2200
Finding flights from PNQ to BOM.
2217 4434 4434 2217 2217
Finding flights from PNQ to BLR.
2246 4492 4492 2246 2246
Finding flights from PNQ to MAA.
2268 4536 4536 2268 2268
Finding flights from PNQ to CCU.
2291 4582 4582 2291 2291
Finding flights from PNQ to HYD.
2307 4614 4614 2307 2307
Finding flights from PNQ to COK.
2325 4650 4650 2325 2325
Finding flights from PNQ to AMD.
2345 4690 4690 2345 2345

In [12]:
from datetime import datetime

now = datetime.now()

current_time = now.strftime("%H:%M")
print("Current Time =", current_time)

Current Time = 19:59

Some of the data contains empty data, the below code will be used to remove that empty data.

In [15]:
def clean_list(list_):
    while('' in list_) : # Run in end for all list
        list_.remove('')

Removing empty data

In [16]:
clean_list(airline_)
clean_list(cities_)
clean_list(times_)
clean_list(stops_)
clean_list(price_)

Checkign length of lists, as some of the data for two elements, e.g. departure and arrival time is contained in a single list, it will have to be divided into two.

In [17]:
print(len(airline_),len(cities_),len(times_),len(stops_),len(price_))

1553 3106 3106 1553 1553

New lists for time and city.

In [18]:
dep_time = []
arr_time = []
dep_city = []
arr_city = []

Dividing the city and times accordingly in order.

In [19]:
for i in range(0,len(cities_),2):
    dep_city.append(cities_[i])
    
for i in range(1,len(cities_),2):
    arr_city.append(cities_[i])
    
    
for i in range(0,len(times_),2):
    dep_time.append(times_[i])
    
for i in range(1,len(times_),2):
    arr_time.append(times_[i])

Now we have exact length of all lists and a df can be created.

In [20]:
print(len(airline_),len(dep_city),len(arr_city),len(dep_time),len(arr_time),len(stops_),len(price_))

1553 1553 1553 1553 1553 1553 1553

In [22]:
flight_df = pd.DataFrame({})
flight_df['Airline name'] = airline_
flight_df['Departure city'] = dep_city
flight_df['Arrival city'] = arr_city
flight_df['Departure time'] = dep_time
flight_df['Arrival time'] = arr_time
flight_df['Total stops'] = stops_
flight_df['Price'] = price_

In [23]:
flight_df.head()

,Airline name,Departure city,Arrival city,Departure time,Arrival time,Total stops,Price
0,AirAsia,New Delhi,Mumbai,09:35,20:35,1 stop via Bengaluru,"₹ 5,953"
1,Go First,New Delhi,Mumbai,02:00,04:15,Non stop,"₹ 5,954"
2,Go First,New Delhi,Mumbai,07:00,09:10,Non stop,"₹ 5,954"
3,Go First,New Delhi,Mumbai,08:00,10:10,Non stop,"₹ 5,954"
4,Go First,New Delhi,Mumbai,10:30,12:50,Non stop,"₹ 5,954"

In [24]:
flight_df.tail()

,Airline name,Departure city,Arrival city,Departure time,Arrival time,Total stops,Price
1548,Air India,Pune,Ahmedabad,12:35,19:25,"2 stop via Bhopal,New Delhi","₹ 10,998"
1549,Spicejet,Pune,Ahmedabad,08:40,10:05,Non stop,"₹ 11,102"
1550,Air India,Pune,Ahmedabad,18:50,06:20,1 stop via New Delhi,"₹ 14,253"
1551,Air India,Pune,Ahmedabad,12:35,06:20,"2 stop via Bhopal,New Delhi","₹ 16,305"
1552,Air India,Pune,Ahmedabad,07:40,19:25,1 stop via New Delhi,"₹ 16,353"

Saving data to csv.

In [25]:
flight_df.to_csv('flight_data.csv') # Saving the dataframe as .csv

In [31]:
driver.quit()